  {% extends "base.html" %}

  {%block content %}
  {% load static %}

  <div class="topshadow"></div>
  <div class="container w-container">
    <div class="slider boxshadow">
      <div data-animation="slide" data-duration="500" data-infinite="1" class="w-slider">
        <div class="w-slider-mask">
          <div class="w-slide"><img src="images/DG35046_110118_Feature_HO_Deck_The_halls_V2.jpg" srcset="{% static 'images/DG35046_110118_Feature_HO_Deck_The_halls_V2-p-500.jpeg'%} 500w, {% static 'images/DG35046_110118_Feature_HO_Deck_The_halls_V2-p-800.jpeg'%} 800w, {% static 'images/DG35046_110118_Feature_HO_Deck_The_halls_V2.jpg' %} 986w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 940px" alt="" class="image-18"></div>
          <div class="w-slide"></div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="icon w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>

  <div class="topmargincontainer w-container"></div>
  <div class="w-container">
    <div class="topdiv">
      <div class="tableheaders">Top Items</div>
    </div>
    <div class="bottomdiv cutstom23">
      <div class="columns-2 w-row">
        {% for product  in popularproduct %}
        <div class="idealcolumtop w-col w-col-2">
          <div class="wrappercolumnstop"><a href="/details/{{product.product.id}}" ><img src="static/products/{{product.product.image}}" width="123" alt="" class="image-4"> </a>
            <div class="productnametop">{{product.product.name}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>



  <div class="container-2 w-container">
    <div class="topdiv">
      <div class="tableheaders">Top Categories</div>
    </div>
    <div class="columns-3 w-row">
      <div class="idealcolumtop w-col w-col-3">
        <div class="homecategorieswrapper"><img src="/static/products/NVS100759.jpg" width="176" alt="" class="image-5">
          <h5 class="heading">{{popularcategories.0}}</h5>
          <div class="divline"></div>
          <p class="paragraph">most preferred maize meal flour brand in the market. 
          ours flours offer great taste, value and energy for the family.</p>
        </div>
      </div>
      
      <div class="idealcolumtop w-col w-col-3">
        <div class="homecategorieswrapper"><img src="/static/products/5361.jpg" width="176" alt="" class="image-5">
          <h5 class="heading">{{popularcategories.1}}</h5>
          <div class="divline"></div>
          <p class="paragraph">most preferred maize meal flour brand in the market. 
          ours flours offer great taste, value and energy for the family.</p>
        </div>
      </div>
      <div class="idealcolumtop w-col w-col-3">
        <div class="homecategorieswrapper"><img src="/static/products/NVS5382.jpg" width="176" alt="" class="image-5">
          <h5 class="heading">{{popularcategories.2}}</h5>
          <div class="divline"></div>
          <p class="paragraph">most preferred maize meal flour brand in the market. 
          ours flours offer great taste, value and energy for the family.</p>
        </div>
      </div>

      <div class="idealcolumtop w-col w-col-3">
        <div class="homecategorieswrapper"> <img src="/static/products/NVS100763.jpg" width="176" alt="" class="image-5">
          <h5 class="heading">{{popularcategories.3}}</h5>
          <div class="divline"></div>
          <p class="paragraph">most preferred maize meal flour brand in the market. 
          ours flours offer great taste, value and energy for the family.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="container-3 w-container">
    <div class="topdiv">
      <div class="tableheaders">Recommended </div>
    </div>
    <div class="bottomdiv cutstom23">
      <div class="colums w-row">

        <div class="column-3 idealcolumtop w-col w-col-3">

          <div class="productwrapper"><a href="/details/{{recommended.2.product.id}}/"> <img src="/static/products/{{recommended.2.product.image}}" alt="" class="image-7"></a></div>
          <div class="text-block-2">{{recommended.2}}</div>
        </div>

        <div class="idealcolumtop w-col w-col-3">
          <div class="productwrapper"> <a href="/details/{{recommended.2.product.id}}/"> <img src="/static/products/{{recommended.1.product.image}}" alt="" class="image-7"></a></div>
          <div class="text-block-2">{{recommended.1}}</div>
        </div>

        <div class="idealcolumtop w-col w-col-3">
          <div class="productwrapper"><img src="/static/products/{{recommended.0.product.image}}" alt="" class="image-7"></div>
          <div class="text-block-2">{{recommended.0}}</div>
        </div>

        <div class="idealcolumtop w-col w-col-3">
          <div class="productwrapper"><img src="/static/products/{{recommended.3.product.image}}" alt="" class="image-7"></div>
          <div class="text-block-2">{{recommended.3}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="columns-11 w-row">
      <div class="w-col w-col-4">
        <div class="rich-text-block w-richtext">
          <h2>CONTACT US</h2>
          <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>
          <p>‍</p>
        </div>
      </div>
      <div class="column-4 w-col w-col-4">
        <div class="rich-text-block w-richtext">
          <h2>ABOUT US</h2>
          <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>
          <p>‍</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="rich-text-block w-richtext">
          <h2>TERMS ?</h2>
          <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>
          <p>‍</p>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="afc79440-6fb5-ede0-19b0-c029c982bd85" class="cartpopup">
    <div>
      <div class="div-block-2"><img src="static/images/baseline_close_black_18dp.png" data-w-id="afc79440-6fb5-ede0-19b0-c029c982bd88" alt="" class="image-14">
        <div class="text-block-13 tableheaders"><strong>Shopping Cart</strong></div>
      </div>
      <h1 class="heading-6 tableheaders">Proceed to checkout as soon as you&#x27;re ready.<br></h1>
    </div>
    <ul class="w-list-unstyled">
      <li>
        <div class="itemcartpopup">
          <div class="itempopupcart w-row">
            <div class="column-22 w-col w-col-4"><img src="images/71lXNFifsgL._SY550_.jpg" width="46" alt="" class="image-15"></div>
            <div class="w-col w-col-4">
              <div class="form-block w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-2"><input type="number" class="text-field-4 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" id="field-2" required=""></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div><a href="#" class="button-6 w-button">Remove </a></div>
            <div class="w-col w-col-4">
              <div class="text-block-16">KSH 3500</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="div-block-3 div-block-4 div-block-5 div-block-6 div-block-7 div-block-8 div-block-9 div-block-10 div-block-11 div-block-12">
      <div class="w-row">
        <div class="w-col w-col-6"><a href="#" class="button-7 button-8 button-9 button-10 button-11 button-12 button-13 button-14 button-15 button-16 button-17 button-18 button-19 button-20 w-button">Checkout</a></div>
        <div class="column-21 w-col w-col-6">
          <div class="text-block-17 text-block-18 text-block-19 text-block-20 text-block-21 tableheaders">KSH 13500</div>
        </div>
      </div>
    </div>
  </div>
<script >
    document.getElementsByClassName('cartpopup')[0].style.display="none";

    function showcart(){
  
  document.getElementsByClassName('cartpopup')[0].style.display="block";
}

  </script>
{%endblock%}