{% extends "base.html" %}

{%block content %}
{% load static %}


<div class="w-container">
    <div class="formlogin boxshadow">
        <h2 class="heading-7">Sign Up</h2>
        <div class="form-block-4 w-form">

            <form id="wf-form-signupform" action="/register/" method="POST">
                {% csrf_token %}
                <label for="first-name" class="field-label-4">First name</label>
                <input type="text" id="first-name" name="firstname" data-name="first name" maxlength="256" class="text-field-9 w-input">
                <label for="lastname" class="field-label-4">last name</label>
                <input type="text" id="lastname" name="lastname" data-name="lastname" maxlength="256" class="text-field-10 w-input">
                <label for="phonenumber" class="field-label-4">Mobile Phone number</label>
                <input type="text" class="text-field-11 w-input" maxlength="256" name="phonenumber" data-name="phonenumber" id="phonenumber" required="">
                <input type="submit" value="Sign Up"  class="submit-button-4 w-button">
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    

    



</script>

{%endblock%}